<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="managerSQL">
	
	<!-- 유저리스트 목록 -->
	<select id="getUserList" resultType="user">
		 select * from user_table
	</select>
	
	<!-- 유저리스트 선택 삭제 -->
	<delete id="userDelete" parameterType="String">
		delete from user_table where id = #{id}
	</delete>
	
	<!-- 모달창으로 회원 상세 정보 불러오기 -->
	<select id="getUserInfo" parameterType="String" resultType="user">
		select * from user_table where id = #{id}
	</select>
	
	<!-- 물품 등록 -->
   	<insert id="itemboardWrite" parameterType="itemboard">
	   begin
	      insert into itemtable(itemcode, itemname, saleprice, costprice, itemcontent, registday, img1, img2, img3, img4, itemKeyword)
	     	 values(#{itemCode}, #{itemName}, #{salePrice}, #{costPrice}, #{itemContent}, sysdate, #{img1}, #{img2}, #{img3}, #{img4}, #{itemKeyword});
	     	 
	      insert into stocktable(itemcode, col1, col1s, col1m, col1l, col1x, col1f,
	      						 col2, col2s, col2m, col2l, col2x, col2f,
	      						 col3, col3s, col3m, col3l, col3x, col3f,
	      						 col4, col4s, col4m, col4l, col4x, col4f,
	      						 totqty)
	      values(#{itemCode}, #{col1}, #{col1s}, #{col1m}, #{col1l}, #{col1x}, #{col1f},
	               #{col2}, #{col2s}, #{col2m}, #{col2l}, #{col2x}, #{col2f},
	               #{col3}, #{col3s}, #{col3m}, #{col3l}, #{col3x}, #{col3f},
	               #{col4}, #{col4s}, #{col4m}, #{col4l}, #{col4x}, #{col4f},
	               #{totQty});
	   end;
   </insert>
   
   <!-- 물품 리스트 -->
   <select id="getItemboardList" resultType="itemboard">
 	  select * from itemtable
   </select>
   
     <!-- 신규 상품 리스트 , 8 개 정도만 뿌림-->
    <select id="getIndexBodyNewList" resultType="itemboard">
 		 select rownum , tt.* from 
 		 (select * from itemtable order by registday desc)tt where rownum<![CDATA[<]]>9
   </select>
   
   	<!-- 아이템 선택 삭제 -->
	<delete id="deleteItemboard" parameterType="String">
		delete from itemtable where itemCode = #{itemCode}
	</delete>
	
	<!-- 일별 통계 -->
	<select id="salesManage" resultType="itemboard">
		select itemcode, to_char(registday, 'yyyy"."MM"."dd') as registday , sum(saleprice) as saleprice from 
		itemtable group by registday,itemcode order by itemcode
	</select>
   
</mapper>