.manager-managerPage {
  width: 82%;
  margin: 50px auto 0 auto;
}

.bottomNav-managerPage {
  margin-top: 30px;
}

.listDiv-managerPage {
  margin-top: 5px;
}

.deleteBtnDiv-managerPage {
  float: right;
  margin-right: 5px;
}

.deleteBtn-managerPage {
  background: none;
  border: none;
  color: red;
  font-size: 13px;
}

.modalSample-managerPage {
  height: auto;
}

.modifyBtn-managerPage {
	height: 30px;
	font-size: 13px;
	line-height: 13px;
}

.modal-body-managerPage {
	background-color: #e8e8e8;
}

.searchBtn-managerPage {
	display: inline-block;
	width: 400px;
}
.addItemBtn-managerPage {
	float: right;
}

.searchKeywordDiv {
	margin-right: 20px;
}

.keywordInput {
	margin-right: 5px;
}

.searchDiv {
	border-radius: 4px;
}

.addnewItemDiv1grid {
	width: 97%;
	margin: 0 auto;
}

.tableDivModal {
	width: 97%;
	margin: 0 auto;
}

.colInputModal {
	width: 150px;
	height: 35px;
	padding: 10px 10px;
	border: none;
}

.sizeInputModal {
	width: 90px;
	height: 35px;
	padding: 5px 5px;
	border: none;
}

.itemExplain {
	width: 97%;
	margin: 0 auto 20px auto;
}

.imageUploadDiv {
	width: 97%;
	margin: 0 auto 10px auto;
}

