h4 {
  width: 80%;
  margin: 50px auto 4px auto;
  font-weight: bold;
}

.myPage {
  width: 80%;
  height: 300px;
  border-top: 1px solid black;
  margin: 0 auto;
  /* position: relative; */
}

.myPage2 {
	margin: 80px auto;
}

.myItemDiv {
  width: 80%;
  /* border: 1px solid black; */
  margin: auto auto 100px auto;
}

.myItemTableDiv {
  margin: auto auto;
  /* border: 1px solid black; */
  
}

.table {
  border-top: 5px solid white;
  border-bottom: 1px solid #c8c8c8;
  
}
ㄴ