.purchaseDiv-purchase {
  width: 90%;
  height: auto;
  margin: 80px auto 30px auto;
  border-bottom: 1px solid black;
}

.orderList-purchase {
  margin-top: 10px;
}

.purchaseImg {
  width: 80px;
  height: 90px;
  margin: 0 auto;
  background-size: cover;
}
.purchaseText {
  width: 200px;
  height: 90px;

  position: relative;
}

.size-pur {
  width: 100px;
}
.account-pur {
  width: 50px;
}
.price-pur {
  width: 60px;
}
.mileage-pur {
  width: 100px;
}

.purchaseText2 {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.infoTable {
  border-top: 1px solid black;
}

.clientInfo {
  width: 90%;
  margin: 20px auto 30px auto;
  border-bottom: 1px solid black;

}

.postInfo {
  width: 90%;
  margin: 20px auto 30px auto;
  border-bottom: 1px solid black;

}

.infoTitle {
  width: 15%;
}

.infoInput {
  width: 300px;
  padding: 5px 5px;
}

.destinationInfo {
  padding: 5px 5px;
}

.zipcodeInput-purchase {
  width: 300px;
  margin-bottom: 0;
}

.container {
  padding-left: 0;
  width: 1000px;
  margin-left: 0;

}

.addressInfo-pur {
  width: 600px;
  margin-bottom: 5px;
}

.postMessage {
  width: 600px;
}
